{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
<!-- Start block -->
<section class="">
  <div class="max-w-screen-xl mx-auto px-3">
      <!-- Row -->
      <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
          <div class="px-4 py-4 bg-white border border-violet-200 rounded-lg shadow sm:p-6 md:p-8 hover:bg-violet-100 dark:bg-violet-800 dark:border-violet-700 dark:hover:bg-violet-700">
              <h5 class="mb-6 text-xl font-medium text-gray-900 dark:text-white">Sign up to our platform</h5>
              <form action="." method="post">
                  {% csrf_token %}
      
                  <div class="grid gap-4 sm:grid-cols-2">
                      <div>
                          <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                          <div class="flex mb-2">
                          <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-violet-200 border border-r-0 border-violet-300 rounded-l-md dark:bg-violet-600 dark:text-gray-400 dark:border-violet-600">
                              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                              </svg>
                          </span>
                          <input name="first_name" type="text" id="website-admin" class="rounded-none rounded-r-lg bg-violet-50 border border-violet-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-violet-700 dark:border-violet-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="First" required>
                          </div>
                      </div>
  
                      <div>
                          <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
                          <div class="flex mb-2">
                          <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-violet-200 border border-r-0 border-violet-300 rounded-l-md dark:bg-violet-600 dark:text-gray-400 dark:border-violet-600">
                              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                              </svg>
                          </span>
                          <input name="last_name" type="text" id="website-admin" class="rounded-none rounded-r-lg bg-violet-50 border border-violet-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-violet-700 dark:border-violet-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Last" required>
                          </div>
                      </div>
                      
                      <div>
                          <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                          <div class="flex mb-2 sm:mb-6">
                          <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-violet-200 border border-r-0 border-violet-300 rounded-l-md dark:bg-violet-600 dark:text-gray-400 dark:border-violet-600">
                              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                              </svg>
                          </span>
                          <input name="username" type="text" id="website-admin" class="rounded-none rounded-r-lg bg-violet-50 border border-violet-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-violet-700 dark:border-violet-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" required>
                          </div>
                      </div>
                      
                      <div>
                          <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                          <div class="flex mb-6">
                          <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-violet-200 border border-r-0 border-violet-300 rounded-l-md dark:bg-violet-600 dark:text-gray-400 dark:border-violet-600">
                              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                              </svg>
                          </span>
                          <input name="email" type="email" id="website-admin" class="rounded-none rounded-r-lg bg-violet-50 border border-violet-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-violet-700 dark:border-violet-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required>
                          </div>
                      </div>
                  </div>

                  <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                  <div class="flex mb-6">
                  <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-violet-200 border border-r-0 border-violet-300 rounded-l-md dark:bg-violet-600 dark:text-gray-400 dark:border-violet-600">
                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="1em" viewBox="0 0 448 512">
                          <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                      </svg>
                  </span>
                  <input name="password" type="password" id="website-admin" class="rounded-none rounded-r-lg bg-violet-50 border border-violet-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-violet-700 dark:border-violet-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
                  </div>

                  <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                  <div class="flex mb-6">
                  <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-violet-200 border border-r-0 border-violet-300 rounded-l-md dark:bg-violet-600 dark:text-gray-400 dark:border-violet-600">
                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="1em" viewBox="0 0 448 512">
                          <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                      </svg>
                  </span>
                  <input name="confirm_password" type="password" id="website-admin" class="rounded-none rounded-r-lg bg-violet-50 border border-violet-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-violet-700 dark:border-violet-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
                  </div>

                  <div class="flex items-center mb-4">
                      <input checked id="checkbox-1" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-violet-600 dark:border-violet-700 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800">
                      <!-- Modal toggle -->
                      <label for="checkbox-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree to the <a href="#" data-modal-target="terms-and-conditions" data-modal-toggle="terms-and-conditions" class="text-blue-700 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
                      
                      <!-- Main modal -->
                      <div id="terms-and-conditions" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                          <div class="relative w-full max-w-2xl max-h-full">
                              <!-- Modal content -->
                              <div class="relative bg-white border border-violet-200 rounded-lg shadowhover:bg-violet-100 dark:bg-violet-800 dark:border-violet-700 dark:hover:bg-violet-700">
                                  <!-- Modal header -->
                                  <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                          Terms of Service
                                      </h3>
                                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="terms-and-conditions">
                                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                          </svg>
                                          <span class="sr-only">Close modal</span>
                                      </button>
                                  </div>
                                  <!-- Modal body -->
                                  <div class="p-6 space-y-6">
                                      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                          Welcome to Connectify. We're thrilled to have you aboard. By using our services, you agree to abide by the following terms:
                                      </p>
                                      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                          <b>Use of Our Services</b><br>
                                          You may use our services for personal or business purposes, but you must comply with all applicable laws and regulations. We reserve the right to terminate access for any misuse or violation of these terms.
                                      </p>
                                      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                          <b>Privacy and Personal Information</b><br>
                                          We collect limited personal information to provide and improve our services. Rest assured, we do not sell or disclose this information to third parties without your explicit consent. For more details, please refer to our Privacy Policy.
                                      </p>
                                      <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                          <b>Intellectual Property and Content</b><br>
                                          All content provided by Smar'ket, including but not limited to text, graphics, logos, and trademarks, is protected by copyright and other intellectual property laws. You may not use, reproduce, or distribute our content without prior written consent.
      Thank you for choosing Smar'ket. If you have any questions or concerns about these terms, feel free to reach out to our support team. Enjoy your experience with us!
                                      </p>
                                  </div>
                                  <!-- Modal footer -->
                                  <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                      <button data-modal-hide="terms-and-conditions" type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-200 font-medium rounded-lg text-base px-5 py-2.5 text-center">I accept</button>
                                      <button data-modal-hide="terms-and-conditions" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button type="submit" class="w-full text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-200 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2">Register</button>
                  <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Do you have an account? <a href="{% url 'core:signin' %}" class="text-blue-700 hover:underline dark:text-blue-500">Login</a>.</p>
              </form>
          </div>
          <img class="hidden w-full mb-4 rounded-lg lg:mb-0 md:flex" src="{% static 'register-connectify.svg' %}" alt="dashboard feature image">
      </div>
  </div>
</section>
<!-- End block -->
{% endblock %}