{%extends 'base.html'%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container m-auto">
    <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
        <!-- left sidebar-->
        <div class="space-y-5 flex-shrink-0 lg:w-7/12">
            {% for post in posts reversed%}
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 rounded-xl">
                <!-- post header start -->
                <div class="flex justify-between items-center px-4 py-3">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="#">
                            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">  
                                <img src="{{ user_profile.profile_image.url }}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                            </div>
                        </a>
                        <span class="block capitalize font-semibold dark:text-white">
                            <a href="{% url 'profile' post.user %}">
                                {{ post.user }}
                            </a>
                        </span>
                    </div>
                </div>
                <!-- post header end -->
                <!-- post image start -->
                <div class="grid grid-cols-1 justify-items-center">
                    <a href="{{ post.image.url }}">  
                        <img src="{{ post.image.url }}" class="w-96 h-96 object-cover">
                    </a>
                </div>
                <!-- post image end -->
                <div class="p-3 border-b text-gray-500 dark:text-gray-400 font-normal">
                    <span class="block capitalize font-semibold dark:text-white">
                        <a href="{% url 'profile' post.user %}">
                            {{ post.user }}
                        </a>
                    </span> 
                    {{ post.caption }}
                </div>
                
                <div class="py-3 px-4 space-y-3"> 
                    <div class="flex space-x-4 lg:font-bold">
                        <a href="/like-post?post_id={{ post.id }}" class="flex items-center space-x-2">
                            <div class="p-2 rounded-full text-black">
                                {% if post.no_of_likes == 0 %}
                                <!-- Not clicked -->
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>
                                  </svg>
                                {% else %}
                                <!-- Clicked -->
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                    <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z"/>
                                  </svg>
                                {% endif %}
                            </div>   
                        </a>
                        <a href="{{ post.image.url}}" class="flex items-center space-x-2 flex-1 justify-end" download>
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 15">
                                <path d="M1 13a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6H1v7Zm5.293-3.707a1 1 0 0 1 1.414 0L8 9.586V8a1 1 0 0 1 2 0v1.586l.293-.293a1 1 0 0 1 1.414 1.414l-2 2a1 1 0 0 1-1.416 0l-2-2a1 1 0 0 1 .002-1.414ZM17 0H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1Z"/>
                            </svg>                            
                        </a>
                    </div>
                    <div class="flex items-center space-x-3"> 
                        <div class="flex items-center">
                            {% if post.no_of_likes == 0 %}
                            {% elif post.no_of_likes == 1 %}
                            <img src="" alt="" class="w-6 h-6 rounded-full border-2 border-white ">
                            {% else %}
                            <img src="" alt="" class="w-6 h-6 rounded-full border-2 border-white ">
                            <img src="" alt="" class="w-6 h-6 rounded-full border-2 border-white  -ml-2">
                            <img src="" alt="" class="w-6 h-6 rounded-full border-2 border-white  -ml-2">
                            {% endif %}
                        </div>
                        <div class="dark:text-gray-400 font-normal">
                            {% if post.no_of_likes == 0 %}
                            <p>No likes</p>
                            {% elif post.no_of_likes == 1 %}
                            <p>Liked by {{ post.no_of_likes }} person</p>
                            {% else %}
                            <p>Liked by {{ post.no_of_likes }} people</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- right sidebar-->
        <div class="lg:w-5/12">
            <div class="bg-white rounded-xl">
                <div class="w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex items-center justify-between mb-4">
                        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Follow Users</h5>
                        <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                            Refresh
                        </a>
                    </div>
                    {% for suggestion in suggestion_username_profile_list%}
                    <div class="flow-root">
                        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                            <li class="py-3 sm:py-4">
                                <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                        <img class="w-8 h-8 rounded-full" src="{{ suggestion.profile_image.url }}" alt="Neil image">
                                    </div>
                                    <div class="flex-1 min-w-0">
                                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            {{suggestion.user}}
                                        </p>
                                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            {{suggestion.bio}}
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        <a href="{% url 'profile' suggestion.user %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Profile</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>               
</div>
{% endblock %}