{%extends 'base.html'%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container flex justify-center mb-10">
	<div class="w-full max-w-lg p-8 bg-white border border-violet-200 rounded-lg shadow sm:p-6 md:p-8 hover:bg-violet-100 dark:bg-violet-800 dark:border-violet-700 dark:hover:bg-violet-700">
		{% if searched_user_profile.user.username == request.user.username %}
		<div class="flex justify-end px-4 pt-4">
			<button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-violet-100 dark:hover:bg-violet-700 focus:ring-4 focus:outline-none focus:ring-violet-200 dark:focus:ring-violet-600 rounded-lg text-sm p-1.5" type="button">
				<span class="sr-only">Open dropdown</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
					<path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
				</svg>
			</button>
			<!-- Dropdown menu -->
			<div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-violet-600">
				<ul class="py-2" aria-labelledby="dropdownButton">
				<li>
					<a href="{% url 'settings' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-violet-100 dark:hover:bg-violet-500 dark:text-gray-200 dark:hover:text-white">Account Settings</a>
				</li>
				<li>
					<a href="{% url 'change_password' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-violet-100 dark:hover:bg-violet-500 dark:text-gray-200 dark:hover:text-white">Change Password</a>
				</li>
				</ul>
			</div>
		</div>
		{% endif %}
		<div class="p-3">
            <div class="flex items-center justify-between mb-2">
                <a href="#">
                    <img class="w-40 h-40 rounded-full object-cover" src="{{ searched_user_profile.profile_image.url }}" alt="Jese Leos">
                </a>
                <div>
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Message</button>
                </div>
            </div>
            <p class="text-base font-semibold leading-none text-gray-900 dark:text-white">
                <a href="#">{{ searched_user_profile.user.first_name }} {{ searched_user_profile.user.last_name }}</a>
            </p>
            <p class="mb-3 text-sm font-normal dark:text-white">
                <a href="#" class="hover:underline">@{{ searched_user_profile.user.username }}</a>
            </p>
            <div class="flex flex-row">
                <svg class="w-4 h-4 mt-0.5 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2"/>
                </svg>
                <p class="mb-4 text-sm dark:text-white">{{ searched_user_profile.user.email }}</p>
            </div>
			<div class="flex">
                <p class="mb-4 text-sm dark:text-white">{{ searched_user_profile.bio }}</p>
            </div>
            <ul class="flex text-sm">
				<li class="mr-2">
                    <a href="#" class="hover:underline">
                        <div class="flex flex-row space-x-1">
                            <svg class="w-4 h-4 mt-0.5 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
								<path fill="currentColor" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
							  </svg>
                            <span class="font-semibold text-gray-900 dark:text-white">{{ user_posts_length }}</span>
							{% if user_posts_length == 0 or user_posts_length == 1 %}
							<span class="text-gray-900 dark:text-white">Post</span>
							{% else %}
							<span class="text-gray-900 dark:text-white">Posts</span>
							{% endif %}
                        </div>
                    </a>
                </li>
                <li class="mr-2">
                    <a href="#" class="hover:underline">
                        <div class="flex flex-row space-x-1">
                            <svg class="w-4 h-4 mt-0.5 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3a3 3 0 1 1-1.614 5.53M15 12a4 4 0 0 1 4 4v1h-3.348M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM5 11h3a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                            </svg>
                            <span class="font-semibold text-gray-900 dark:text-white">{{ user_following }}</span>
                            <span class="text-gray-900 dark:text-white">Following</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="hover:underline">
                        <div class="flex flex-row space-x-1">
                            <svg class="w-4 h-4 mt-0.5 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.333 6.764a3 3 0 1 1 3.141-5.023M2.5 16H1v-2a4 4 0 0 1 4-4m7.379-8.121a3 3 0 1 1 2.976 5M15 10a4 4 0 0 1 4 4v2h-1.761M13 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-4 6h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
                            </svg>
							<span class="font-semibold text-gray-900 dark:text-white">{{ user_followers }}</span>
							{% if user_followers == 0 or user_followers == 1%}
							<span class="text-gray-900 dark:text-white">Follower</span>
							{% else %}
							<span class="text-gray-900 dark:text-white">Followers</span>
							{% endif %}
                        </div>
                    </a>
                </li>
            </ul>
        </div>		
		<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
			<ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
				<li class="mr-2" role="presentation">
					<button class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group" id="following-tab" data-tabs-target="#following" type="button" role="tab" aria-controls="following" aria-selected="false">
						<svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3a3 3 0 1 1-1.614 5.53M15 12a4 4 0 0 1 4 4v1h-3.348M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM5 11h3a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
						</svg>Following
					</button>
				</li>
				<li class="mr-2" role="presentation">
					<button class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group" id="follower-tab" data-tabs-target="#follower" type="button" role="tab" aria-controls="follower" aria-selected="false">
						<svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.333 6.764a3 3 0 1 1 3.141-5.023M2.5 16H1v-2a4 4 0 0 1 4-4m7.379-8.121a3 3 0 1 1 2.976 5M15 10a4 4 0 0 1 4 4v2h-1.761M13 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-4 6h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
						</svg>Followers
					</button>
				</li>
			</ul>
		</div>
		<div id="myTabContent">
			<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="following" role="tabpanel" aria-labelledby="following-tab">
				<ul>
					{% for user in following %}
						<li class="text-sm text-gray-500 dark:text-gray-200">@{{ user.leader.username }}</li>	
					{% endfor %}
				</ul>
			</div>
			<div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="follower" role="tabpanel" aria-labelledby="follower-tab">
				<ul>
					{% for user in followers %}
						<li class="text-sm text-gray-500 dark:text-gray-200">@{{ user.follower.username }}</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
		
		{% if searched_user.username != user.username %}
		<div class="flex flex-col items-center pb-10">
			<div class="flex mt-4 space-x-3 md:mt-6">
				<form action="{% url 'follow' %}" method="post">
					{% csrf_token %}
					<input type="hidden" value="{{ user.username }}" name="follower_username">
					<input type="hidden" value="{{ searched_user.username }}" name="leader_username">
					<input type="hidden" value="{{ user.id }}" name="follower_id">
					<input type="hidden" value="{{ searched_user.id }}" name="leader_id">
					<button type="submit" class="w-full text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-200 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2">{{ button_text }}</button>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="flex flex-wrap">
	<!-- Card for each item. -->
	{% for post in user_posts %}
		<div class="m-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
				<img class="w-96 h-96 rounded-lg object-cover" src="{{ post.image.url }}" alt="Bonnie image"/>
		</div>		
	{% endfor %}
</div>
{% endblock %}