{%extends 'base.html'%}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-col items-center pb-10 mt-12">
                <img class="w-24 h-24 mb-3 object-cover rounded-full shadow-lg" src="{{ user_profile.profile_image.url }}" alt="Bonnie image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ user_profile.user }}</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">{{ user_profile.bio }}</span>
                
            </div>
        
            <div class="p-4">    
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Upload profile image</label>
                <input name="profile_image" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file">
                <div class="mt-2 mb-6 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">A profile picture is useful to confirm your are logged into your account</div>
        
                
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bio</label>
                <textarea name="bio" id="message" rows="4" class="block mb-6 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your bio...">{{ user_profile.bio }}</textarea>
        
                
                <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                <input name="location" type="text" id="website-admin" value="{{ user_profile.location }}" class="rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter you location...">
        
            </div>
        
            <div class="flex flex-col items-center pb-10 mt-6" >
                <div class="flex mt-4 space-x-3 md:mt-6">
                    <a href="/" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Cancel</a>
                    <button type="submit" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}